/* Simple Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #58666e;
    background-color: #f0f3f4;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    /* for sticky header */
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 2000;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}

nav {
    float: right;
}

.logo {
    display: inline-block;
    height: 36px;
    margin: 12px 0 12px 25px;
}

.logo > img {
    height: 36px;
}

.nav-items > li {
    display: inline-block;
}

.nav-items > li > a {
    line-height: 60px;
    padding: 0 15px;
    color: rgba(0, 0, 0, 0.4);
}

.nav-items > li > a:hover {
    color: rgba(0, 0, 0, 0.8);
}

/*
div {
    width: 100vw;
    height: 100vh;
}
*/

.dawn {
    /* Old browsers */
    /* background: #b3cae5; */
    /* FF3.6+ */
    /* background: -moz-linear-gradient(-45deg, #b3cae5 12%, #dbdde4 46%, #e4e3e4 70%, #f7ddbb 94%, #efcab2 100%); */
    /* Chrome,Safari4+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(12%, #b3cae5), color-stop(46%, #dbdde4), color-stop(70%, #e4e3e4), color-stop(94%, #f7ddbb), color-stop(100%, #efcab2));
    /* Chrome10+,Safari5.1+ */
    /* background: -webkit-linear-gradient(-45deg, #b3cae5 12%, #dbdde4 46%, #e4e3e4 70%, #f7ddbb 94%, #efcab2 100%); */
    /* Opera 11.10+ */
    /* background: -o-linear-gradient(-45deg, #b3cae5 12%, #dbdde4 46%, #e4e3e4 70%, #f7ddbb 94%, #efcab2 100%); */
    /* IE10+ */
    /* background: -ms-linear-gradient(-45deg, #b3cae5 12%, #dbdde4 46%, #e4e3e4 70%, #f7ddbb 94%, #efcab2 100%); */
    /* W3C */
    /* background: linear-gradient(135deg, #b3cae5 12%, #dbdde4 46%, #e4e3e4 70%, #f7ddbb 94%, #efcab2 100%); */
}

/* clearfix */
#content-wrap:after {
    content: "";
    display: block;
    clear: both;
}

section {
    /* float: left; */
    width: 100%;
    /* margin-right: 200px; */
    position: fixed;
}

aside {
    z-index: 10000px;
    top: 60px;
    /* bottom: 0; */
    float: right;
    width: 200px;
    height: 1000px;
    padding-top: 25px;
    background-color: #333;
}

aside > ul {
    width: 200px;
}

aside > ul > li > a {
    display: block;
    color: #fff;
    padding: 10px 0 10px 20px;
}

aside > ul > li > a.active {
    background-color: #4CAF50;
}

aside > ul > li > a:hover:not(.active) {
    background-color: #555;
}

aside > h1 {
    padding: 20px 0 20px 20px;
    color: #fff;
}

#wrap {
    /* margin-top = header height */
    margin-top: 60px;
}

#open_close_button {
    z-index: 4000;
    float: right;
    margin-right: 40px;
    margin-top: 40px;
}

/*
.div_iframe_1{
    position: relative;
}
.div_iframe_2{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
*/

#header_title {
    color: black;
}

.next_title {
    float: right;
    margin-top: 15px;
    margin-right: 20px;
}

section, article {
    height: 100%;
}

article {
    margin: 5px;
    padding: 5px;
}

iframe {
    height: calc(100% - 60px - 10px);
    width: 100%;
}
